build/** filter=git-crypt diff=git-crypt
data/nyers/** filter=git-crypt diff=git-crypt
data/kezi.txt filter=git-crypt diff=git-crypt
data/forrasok.json filter=git-crypt diff=git-crypt
data/linkedin_kurzor.json filter=git-crypt diff=git-crypt
PRD.md filter=git-crypt diff=git-crypt
futtat.sh filter=git-crypt diff=git-crypt
requirements.txt filter=git-crypt diff=git-crypt
.gitattributes !filter !diff
